body {
background-color: #D2B48C;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: #48D1CC;
}

h2 {
text-align: center;
}

h3 {
text-align: left;
max-width: 60%;
margin: 0 auto;
} 

p {
text-align: left;
max-width: 60%;
margin: 0 auto;
}