body {
background-color: #D2B48C;
}

h1 {
  font-family: Helvetica;
  padding: 35px;
  text-align: center;
  background-color: #F08080;
}

h2 {
  font-family: Helvetica;
  text-align: center;
}

h3 {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
} 

p {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
}