body {
background-color: DarkGrey;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: #ADD8E6;
}

h2 {
text-align: center;
}

h3 {
text-align: left;
} 

p {
text-align: left;
max-width: 60%;
margin: 0 auto;
}