body {
background-color: #D2B48C;
}

h1 {
  font-family: Helvetica;
  padding: 35px;
  text-align: center;
  background-color: #2E8B57;
  font-size: 100px;
}

h2 {
  font-family: Helvetica;
  text-align: center;
  font-size: 50px;
}

h3 {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
} 

p {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  font-size: 20px;
}