body {
background-color: #D2B48C;
}

li {
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 25px;
}

header {
    font-family: Helvetica;
    text-align: center;
    background-color: #2E8B57;
    color:white;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

.star-image {
    display: block; 
    margin-top: 20px; 
    margin: 0 auto;
    width: 50px;
    height: auto;
}

.chapter-heading {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
}

h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

p {
  font-size: 20px;
}

footer {
    text-align: center;
    font-family: Helvetica;
    color: #FFFACD;
}