.kirang-haerang-regular {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
background-color: #D2B48C;
}

/*Navigation, list, link, and table styling*/
nav {
  max-width: 100%;
  margin: 10;
}

ul {
  font-family: Georgia, serif;
  font-size: 25px;
}

li {
  list-style-type: none;
  background-color: #FFFAFA;
  border: 10px solid #040080;
  text-align: center;
  display: inline-block;
  padding: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

a {
  color: #040080;
}

table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #FFFAFA;
  border: 5px solid #040080;
  border-left: 10px double #040080;
  border-right: 10px double #040080;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

th, td {
  padding: 12px;
  border: 1px solid #040080;
  text-align: left;
}

th {
  background-color: #db120b;
  font-weight: bold;
  color: #ffffff;
}

/*General content styling (headers, images, videos, division, footer, etc) */
header {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    background-color: #040080;;
    color:#ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

video {
  width: 100%;
}

blockquote {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 35px;
  }

cite {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  }

  #gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

#gallery img {
  width: 30%;
  height: auto;
}

.book-image {
  display: block; 
  margin: 0 auto; 
  margin-top: 5px; 
  margin-bottom: 20px;
}

.star-image {
    display: block; 
    margin-top: 25px; 
    margin-bottom: 25px; 
    margin: 0 auto;
    width: 50px;
    height: auto;
}

.chapter-heading {
  font-family: "Times New Roman", Times;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

p {
  font-size: 20px;
}

form {
  background-color: #FFFAFA;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #040080;
  border-left: 10px double #040080;
  border-right: 10px double #040080;
  width: 75%;
  margin: 0 auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  border: 3px solid #db120b;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  width: 5%;
  margin-bottom: 5px;
  margin: 0 auto;
  padding: 2px;
  font-size: 1rem;
  box-sizing:border-box;
}

select {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 5px;
  font-size: 1rem;
  border: 5px solid #040080;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 15%;
  background-color: #db120b;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #040080;;
}



div {
  background-color: #FFFAFA;
  padding: 10px;
  border: 5px solid #040080;
  text-align: center;
}

footer {
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #FFFACD;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


/*Media Query styling for smaller screens */
@media (max-width: 600px) {
  body {
    font-size: 15px;
    padding: 12px;
  }
  li {
    display: block;
    margin: 10px 0;
  }
  nav {
    text-align: center;
  }
  header,.chaper, footer {
    padding: 10px;
  }
}